USE [master]
GO
/****** Object:  Database [ChangKePower]    Script Date: 2016/12/10 22:00:15 ******/
CREATE DATABASE [ChangKePower] ON  PRIMARY 
( NAME = N'ChangKePower', FILENAME = N'd:\work\sqlserverdata\ChangKePower.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChangKePower_log', FILENAME = N'd:\work\sqlserverdata\ChangKePower_log.ldf' , SIZE = 6272KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChangKePower].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChangKePower]
GO
USE [ChangKePower]
GO
/****** Object:  Table [dbo].[TA_MENU]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TA_MENU](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[PortalCode] [nvarchar](50) NOT NULL,
	[MenuCode] [nvarchar](50) NOT NULL,
	[ParentCode] [nvarchar](50) NOT NULL,
	[ControlType] [nvarchar](50) NOT NULL,
	[MenuText] [nvarchar](50) NOT NULL,
	[NameSpace] [nvarchar](200) NULL,
	[ClassName] [nvarchar](100) NULL,
	[Params] [nvarchar](100) NULL,
	[ImageName] [nvarchar](100) NULL,
	[Remark] [nvarchar](200) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[BackColor] [varchar](50) NULL,
	[State] [int] NOT NULL,
	[MenuOrder] [int] NOT NULL,
 CONSTRAINT [PK_TA_Menu2] PRIMARY KEY CLUSTERED 
(
	[PortalCode] ASC,
	[MenuCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TL_BASEDATA]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TL_BASEDATA](
	[UID] [bigint] IDENTITY(1,1) NOT NULL,
	[OperName] [nvarchar](80) NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[LogType] [varchar](50) NOT NULL,
	[DataType] [varchar](50) NOT NULL,
	[OldValue] [nvarchar](4000) NOT NULL,
	[NewValue] [nvarchar](4000) NOT NULL,
	[Remark] [nvarchar](500) NULL,
 CONSTRAINT [PK_TL_BASEDATA] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TS_BUTTON]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_BUTTON](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[ButtonCode] [nvarchar](50) NOT NULL,
	[ButtonName] [nvarchar](50) NOT NULL,
	[ButtonType] [nvarchar](50) NOT NULL,
	[PotralCode] [nvarchar](50) NOT NULL,
	[MenuCode] [nvarchar](50) NOT NULL,
	[Remark] [nvarchar](50) NULL,
 CONSTRAINT [PK_TA_Button] PRIMARY KEY CLUSTERED 
(
	[ButtonCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TS_DEPT]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_DEPT](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[DeptCode] [nvarchar](50) NOT NULL,
	[DeptName] [nvarchar](50) NOT NULL,
	[ParentCode] [nvarchar](50) NOT NULL,
	[IsLeafNode] [bit] NOT NULL,
	[Remark] [nvarchar](200) NULL,
 CONSTRAINT [PK_TA_Dept] PRIMARY KEY CLUSTERED 
(
	[DeptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TS_OPER_ROLE]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_OPER_ROLE](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[OperCode] [nvarchar](50) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[IsBeloneTo] [bit] NOT NULL,
 CONSTRAINT [PK_TS_OperRole] PRIMARY KEY CLUSTERED 
(
	[OperCode] ASC,
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TS_OPERATOR]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_OPERATOR](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[OperCode] [nvarchar](50) NOT NULL,
	[OperName] [nvarchar](50) NOT NULL,
	[OperPassword] [nvarchar](200) NOT NULL,
	[DeptCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TA_Operator] PRIMARY KEY CLUSTERED 
(
	[OperCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TS_PORTAL]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_PORTAL](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[PortalCode] [nvarchar](50) NOT NULL,
	[PortalName] [nvarchar](50) NOT NULL,
	[PortalType] [nvarchar](50) NOT NULL,
	[PortalUrl] [nvarchar](200) NULL,
	[Remark] [nvarchar](200) NULL,
 CONSTRAINT [PK_TA_Portal] PRIMARY KEY CLUSTERED 
(
	[PortalCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TS_ROLE]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_ROLE](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[PowerString] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
 CONSTRAINT [PK_TA_Role] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TS_ROLE_NOTIFYTYPE]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_ROLE_NOTIFYTYPE](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[PortalCode] [nvarchar](50) NOT NULL,
	[NotifyType] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL,
 CONSTRAINT [PK_TS_ROLE_NOTIFY] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TS_ROLE_POWER]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS_ROLE_POWER](
	[UID] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[MenuCode] [nvarchar](50) NOT NULL,
	[PortalCode] [nvarchar](50) NOT NULL,
	[IsVisible] [bit] NOT NULL,
	[IsReadOnly] [bit] NOT NULL,
 CONSTRAINT [PK_TA_Power2] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VS_OPER_ROLE]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VS_OPER_ROLE]
AS
SELECT   dbo.TS_OPER_ROLE.UID, dbo.TS_OPER_ROLE.OperCode, dbo.TS_OPER_ROLE.RoleCode, 
                dbo.TS_OPER_ROLE.IsBeloneTo, dbo.TS_ROLE.RoleName, dbo.TS_ROLE.Remark
FROM      dbo.TS_OPER_ROLE LEFT OUTER JOIN
                dbo.TS_ROLE ON dbo.TS_OPER_ROLE.RoleCode = dbo.TS_ROLE.RoleCode


GO
/****** Object:  View [dbo].[VS_POWER_MENU]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VS_POWER_MENU]
AS
SELECT  dbo.TS_ROLE_POWER.UID, dbo.TS_ROLE_POWER.RoleCode, dbo.TS_ROLE_POWER.MenuCode, 
                   dbo.TS_ROLE_POWER.PortalCode, dbo.TS_ROLE_POWER.IsVisible, dbo.TS_ROLE_POWER.IsReadOnly, 
                   dbo.TA_MENU.ParentCode, dbo.TA_MENU.ControlType, dbo.TA_MENU.MenuText, dbo.TA_MENU.NameSpace, 
                   dbo.TA_MENU.ClassName, dbo.TA_MENU.Params, dbo.TA_MENU.ImageName, dbo.TA_MENU.Remark, dbo.TA_MENU.X, 
                   dbo.TA_MENU.Y, dbo.TA_MENU.BackColor, dbo.TA_MENU.State, dbo.TA_MENU.MenuOrder
FROM      dbo.TA_MENU INNER JOIN
                   dbo.TS_ROLE_POWER ON dbo.TA_MENU.MenuCode = dbo.TS_ROLE_POWER.MenuCode AND 
                   dbo.TA_MENU.PortalCode = dbo.TS_ROLE_POWER.PortalCode

GO
SET IDENTITY_INSERT [dbo].[TA_MENU] ON 

INSERT [dbo].[TA_MENU] ([UID], [PortalCode], [MenuCode], [ParentCode], [ControlType], [MenuText], [NameSpace], [ClassName], [Params], [ImageName], [Remark], [X], [Y], [BackColor], [State], [MenuOrder]) VALUES (4136, N'SPAREPC', N'A', N'WMSPC', N'Tab', N'系统', N'', N'', N'', N'', N'', 0, 0, NULL, 1, 0)
INSERT [dbo].[TA_MENU] ([UID], [PortalCode], [MenuCode], [ParentCode], [ControlType], [MenuText], [NameSpace], [ClassName], [Params], [ImageName], [Remark], [X], [Y], [BackColor], [State], [MenuOrder]) VALUES (4137, N'SPAREPC', N'AB', N'A', N'Grp', N'系统信息', N'', N'', N'', N'', N'', 0, 0, NULL, 1, 0)
INSERT [dbo].[TA_MENU] ([UID], [PortalCode], [MenuCode], [ParentCode], [ControlType], [MenuText], [NameSpace], [ClassName], [Params], [ImageName], [Remark], [X], [Y], [BackColor], [State], [MenuOrder]) VALUES (4138, N'SPAREPC', N'AB10', N'AB', N'Itm', N'单据类型', N'ChangKeTec.Wms.WinForm.Manage', N'FormBillType', N'', N'Warning', N'', 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[TA_MENU] OFF
SET IDENTITY_INSERT [dbo].[TL_BASEDATA] ON 

INSERT [dbo].[TL_BASEDATA] ([UID], [OperName], [LogTime], [LogType], [DataType], [OldValue], [NewValue], [Remark]) VALUES (1, N'', CAST(N'2016-10-17T09:01:13.620' AS DateTime), N'Update', N'TS_ROLE', N'UID:3,RoleCode:02,RoleName:测试2,PowerString:,Remark:,', N'UID:3,RoleCode:02,RoleName:PC客户端全功能,PowerString:,Remark:,', NULL)
INSERT [dbo].[TL_BASEDATA] ([UID], [OperName], [LogTime], [LogType], [DataType], [OldValue], [NewValue], [Remark]) VALUES (2, N'', CAST(N'2016-10-17T09:01:13.623' AS DateTime), N'Update', N'TS_ROLE', N'UID:4,RoleCode:03,RoleName:测试3,PowerString:,Remark:,', N'UID:4,RoleCode:03,RoleName:PDA客户端全功能,PowerString:,Remark:,', NULL)
SET IDENTITY_INSERT [dbo].[TL_BASEDATA] OFF
SET IDENTITY_INSERT [dbo].[TS_DEPT] ON 

INSERT [dbo].[TS_DEPT] ([UID], [DeptCode], [DeptName], [ParentCode], [IsLeafNode], [Remark]) VALUES (1, N'001', N'综合管理部', N'003', 1, NULL)
SET IDENTITY_INSERT [dbo].[TS_DEPT] OFF
SET IDENTITY_INSERT [dbo].[TS_OPER_ROLE] ON 

INSERT [dbo].[TS_OPER_ROLE] ([UID], [OperCode], [RoleCode], [IsBeloneTo]) VALUES (7, N'1002', N'01', 1)
INSERT [dbo].[TS_OPER_ROLE] ([UID], [OperCode], [RoleCode], [IsBeloneTo]) VALUES (4, N'1002', N'02', 1)
INSERT [dbo].[TS_OPER_ROLE] ([UID], [OperCode], [RoleCode], [IsBeloneTo]) VALUES (5, N'1003', N'02', 1)
SET IDENTITY_INSERT [dbo].[TS_OPER_ROLE] OFF
SET IDENTITY_INSERT [dbo].[TS_OPERATOR] ON 

INSERT [dbo].[TS_OPERATOR] ([UID], [OperCode], [OperName], [OperPassword], [DeptCode]) VALUES (6, N'1002', N'BBB', N'5C2DE907DB859810', N'001')
INSERT [dbo].[TS_OPERATOR] ([UID], [OperCode], [OperName], [OperPassword], [DeptCode]) VALUES (7, N'1003', N'CCC', N'5C2DE907DB859810', N'001')
INSERT [dbo].[TS_OPERATOR] ([UID], [OperCode], [OperName], [OperPassword], [DeptCode]) VALUES (1, N'admin', N'超级管理员', N'EF0D2F0DD771412E', N'001')
SET IDENTITY_INSERT [dbo].[TS_OPERATOR] OFF
SET IDENTITY_INSERT [dbo].[TS_PORTAL] ON 

INSERT [dbo].[TS_PORTAL] ([UID], [PortalCode], [PortalName], [PortalType], [PortalUrl], [Remark]) VALUES (1001, N'SPAREPC', N'备件PC客户端', N'PC', NULL, NULL)
INSERT [dbo].[TS_PORTAL] ([UID], [PortalCode], [PortalName], [PortalType], [PortalUrl], [Remark]) VALUES (1, N'WMSPC', N'WMSPC客户端', N'PC', NULL, NULL)
INSERT [dbo].[TS_PORTAL] ([UID], [PortalCode], [PortalName], [PortalType], [PortalUrl], [Remark]) VALUES (2, N'WMSPDA', N'WMSPDA客户端', N'PDA', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TS_PORTAL] OFF
SET IDENTITY_INSERT [dbo].[TS_ROLE] ON 

INSERT [dbo].[TS_ROLE] ([UID], [RoleCode], [RoleName], [PowerString], [Remark]) VALUES (3, N'02', N'PC客户端全功能', NULL, NULL)
INSERT [dbo].[TS_ROLE] ([UID], [RoleCode], [RoleName], [PowerString], [Remark]) VALUES (4, N'03', N'PDA客户端全功能', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TS_ROLE] OFF
SET IDENTITY_INSERT [dbo].[TS_ROLE_NOTIFYTYPE] ON 

INSERT [dbo].[TS_ROLE_NOTIFYTYPE] ([UID], [RoleCode], [PortalCode], [NotifyType], [IsVisible]) VALUES (2, N'01', N'WMSPC', 0, 1)
INSERT [dbo].[TS_ROLE_NOTIFYTYPE] ([UID], [RoleCode], [PortalCode], [NotifyType], [IsVisible]) VALUES (3, N'01', N'WMSPC', 1, 1)
INSERT [dbo].[TS_ROLE_NOTIFYTYPE] ([UID], [RoleCode], [PortalCode], [NotifyType], [IsVisible]) VALUES (4, N'01', N'WMSPC', 2, 1)
SET IDENTITY_INSERT [dbo].[TS_ROLE_NOTIFYTYPE] OFF
SET IDENTITY_INSERT [dbo].[TS_ROLE_POWER] ON 

INSERT [dbo].[TS_ROLE_POWER] ([UID], [RoleCode], [MenuCode], [PortalCode], [IsVisible], [IsReadOnly]) VALUES (1, N'01', N'A', N'WMSPC', 1, 0)
INSERT [dbo].[TS_ROLE_POWER] ([UID], [RoleCode], [MenuCode], [PortalCode], [IsVisible], [IsReadOnly]) VALUES (2, N'01', N'AB', N'WMSPC', 1, 0)
INSERT [dbo].[TS_ROLE_POWER] ([UID], [RoleCode], [MenuCode], [PortalCode], [IsVisible], [IsReadOnly]) VALUES (3, N'01', N'AB10', N'WMSPC', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[TS_ROLE_POWER] OFF
ALTER TABLE [dbo].[TA_MENU] ADD  CONSTRAINT [DF_TS_MENU2_ParentCode]  DEFAULT ('''') FOR [ParentCode]
GO
ALTER TABLE [dbo].[TA_MENU] ADD  CONSTRAINT [DF_TA_MENU_X]  DEFAULT ((0)) FOR [X]
GO
ALTER TABLE [dbo].[TA_MENU] ADD  CONSTRAINT [DF_TA_MENU_Y]  DEFAULT ((0)) FOR [Y]
GO
ALTER TABLE [dbo].[TA_MENU] ADD  CONSTRAINT [DF_TA_MENU_State]  DEFAULT ((1)) FOR [State]
GO
ALTER TABLE [dbo].[TA_MENU] ADD  CONSTRAINT [DF_TA_MENU_MenuOrder]  DEFAULT ((0)) FOR [MenuOrder]
GO
ALTER TABLE [dbo].[TL_BASEDATA] ADD  CONSTRAINT [DF_TL_BASEDATA_LogTime]  DEFAULT (getdate()) FOR [LogTime]
GO
ALTER TABLE [dbo].[TL_BASEDATA] ADD  CONSTRAINT [DF_TL_BASEDATA_OldValue]  DEFAULT ('') FOR [OldValue]
GO
ALTER TABLE [dbo].[TL_BASEDATA] ADD  CONSTRAINT [DF_TL_BASEDATA_NewValue]  DEFAULT ('') FOR [NewValue]
GO
ALTER TABLE [dbo].[TS_DEPT] ADD  CONSTRAINT [DF_TS_DEPT_IsLeafNode]  DEFAULT ((1)) FOR [IsLeafNode]
GO
ALTER TABLE [dbo].[TS_OPER_ROLE] ADD  CONSTRAINT [DF_TS_OPER_ROLE_IsBeloneTo]  DEFAULT ((1)) FOR [IsBeloneTo]
GO
ALTER TABLE [dbo].[TS_ROLE_POWER] ADD  CONSTRAINT [DF_TS_POWER_IsVisible]  DEFAULT ((0)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[TS_ROLE_POWER] ADD  CONSTRAINT [DF_TS_POWER_IsReadOnly]  DEFAULT ((0)) FOR [IsReadOnly]
GO
/****** Object:  StoredProcedure [dbo].[P_GetAllTables]    Script Date: 2016/12/10 22:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[P_GetAllTables]
as
begin
SELECT
     表名       = Case When A.colorder=1 Then D.name Else '' End,
     表说明     = Case When A.colorder=1 Then isnull(F.value,'') Else '' End,
     字段序号   = A.colorder,
     字段名     = A.name,
     字段说明   = isnull(G.[value],''),
     自增长       = Case When COLUMNPROPERTY( A.id,A.name,'IsIdentity')=1 Then '●'Else '' End,
     主键       = Case When exists(SELECT 1 FROM sysobjects Where xtype='PK' and parent_obj=A.id and name in (
                      SELECT name FROM sysindexes WHERE indid in( SELECT indid FROM sysindexkeys WHERE id = A.id AND colid=A.colid))) then '●' else '' end,
     类型       = B.name,
     长度       = COLUMNPROPERTY(A.id,A.name,'PRECISION'),
     小数位数   = isnull(COLUMNPROPERTY(A.id,A.name,'Scale'),0),
     允许空     = Case When A.isnullable=1 Then '●'Else '' End,
     默认值     = isnull(E.Text,''),
     占用字节数 = A.Length
 FROM
     syscolumns A
 Left Join
     systypes B
 On
     A.xusertype=B.xusertype
 Inner Join
     sysobjects D
 On
     A.id=D.id  and D.xtype='U' and  D.name<>'dtproperties'
 Left Join
     syscomments E
 on
     A.cdefault=E.id
 Left Join
 sys.extended_properties  G
 on
     A.id=G.major_id and A.colid=G.minor_id
 Left Join

 sys.extended_properties F
 On
     D.id=F.major_id and F.minor_id=0
     --where d.name='OrderInfo'    --如果只查询指定表,加上此条件
 Order By
     A.id,A.colorder
end     

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'PortalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'MenuCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级菜单编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'ParentCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'控件类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'ControlType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'显示文字' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'MenuText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'命名空间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'NameSpace'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'ClassName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'参数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'Params'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图标名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'ImageName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'X坐标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'X'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Y坐标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'Y'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'背景色' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'BackColor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排列顺序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TA_MENU', @level2type=N'COLUMN',@level2name=N'MenuOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TL_BASEDATA', @level2type=N'COLUMN',@level2name=N'OperName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TL_BASEDATA', @level2type=N'COLUMN',@level2name=N'LogTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志级别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TL_BASEDATA', @level2type=N'COLUMN',@level2name=N'DataType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'????' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TL_BASEDATA', @level2type=N'COLUMN',@level2name=N'OldValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TL_BASEDATA', @level2type=N'COLUMN',@level2name=N'NewValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_DEPT', @level2type=N'COLUMN',@level2name=N'DeptCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_DEPT', @level2type=N'COLUMN',@level2name=N'DeptName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级部门编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_DEPT', @level2type=N'COLUMN',@level2name=N'ParentCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否是叶节点' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_DEPT', @level2type=N'COLUMN',@level2name=N'IsLeafNode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_DEPT', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作员编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_OPER_ROLE', @level2type=N'COLUMN',@level2name=N'OperCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_OPER_ROLE', @level2type=N'COLUMN',@level2name=N'RoleCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否属于' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_OPER_ROLE', @level2type=N'COLUMN',@level2name=N'IsBeloneTo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作员编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_OPERATOR', @level2type=N'COLUMN',@level2name=N'OperCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作员姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_OPERATOR', @level2type=N'COLUMN',@level2name=N'OperName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作员密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_OPERATOR', @level2type=N'COLUMN',@level2name=N'OperPassword'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所属部门' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_OPERATOR', @level2type=N'COLUMN',@level2name=N'DeptCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_PORTAL', @level2type=N'COLUMN',@level2name=N'PortalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_PORTAL', @level2type=N'COLUMN',@level2name=N'PortalName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_PORTAL', @level2type=N'COLUMN',@level2name=N'PortalType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_PORTAL', @level2type=N'COLUMN',@level2name=N'PortalUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_PORTAL', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE', @level2type=N'COLUMN',@level2name=N'RoleCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE', @level2type=N'COLUMN',@level2name=N'RoleName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE_NOTIFYTYPE', @level2type=N'COLUMN',@level2name=N'RoleCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE_NOTIFYTYPE', @level2type=N'COLUMN',@level2name=N'PortalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'警报类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE_NOTIFYTYPE', @level2type=N'COLUMN',@level2name=N'NotifyType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可见' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE_NOTIFYTYPE', @level2type=N'COLUMN',@level2name=N'IsVisible'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE_POWER', @level2type=N'COLUMN',@level2name=N'RoleCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE_POWER', @level2type=N'COLUMN',@level2name=N'MenuCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE_POWER', @level2type=N'COLUMN',@level2name=N'PortalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可见' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE_POWER', @level2type=N'COLUMN',@level2name=N'IsVisible'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否只读' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TS_ROLE_POWER', @level2type=N'COLUMN',@level2name=N'IsReadOnly'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TS_OPER_ROLE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 240
               Right = 192
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TS_ROLE"
            Begin Extent = 
               Top = 6
               Left = 230
               Bottom = 236
               Right = 389
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VS_OPER_ROLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VS_OPER_ROLE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[11] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TS_ROLE_POWER"
            Begin Extent = 
               Top = 7
               Left = 289
               Bottom = 277
               Right = 466
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TA_MENU"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 297
               Right = 241
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VS_POWER_MENU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VS_POWER_MENU'
GO
USE [master]
GO
